<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PomodoroLock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83450F2D2D827AA4000C8866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83450F3E2D827AA6000C8866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83450F482D827AA6000C8866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
